

body {
  background-color: beige;
}

h1 {
  font-family: cursive;
}

img {
  width: 400px;
}

#price-box {
  border: solid black 1px;
 /* display: none; */
}

#theatername {
  font-family: cursive;
}

